.DS_Store
*.pyc

*.ark
*.hdr
*.iso

#funny files that should never be committed
.DS_Store
*.pyc
*.tmp
*.ninja
.ninja_log

#input for wii files for build
platform/wii

#ninja build dirs
obj
out

#reference script unused by dx
_ark/dx/reference

vanilla/ps2/ark
vanilla/ps2/GEN
vanilla/ps2/IOP
vanilla/ps2/VIDEOS
vanilla/ps2/SLUS_214.47
vanilla/ps2/SYSTEM.CNF

vanilla/xbox/ark
vanilla/xbox/gen
vanilla/xbox/videos
vanilla/xbox/default.xex
platform/xbox/videos/*
platform/ps2/VIDEOS/*
platform/ps2/IOP/*
platform/ps2/SLUS_214.47
platform/ps2/SYSTEM.CNF
platform/xbox/default.xex
platform/xbox/$SystemUpdate/su20076000_00000000
platform/ps2/GEN/MAIN_0.ARK
platform/ps2/GEN/MAIN.HDR


reference